.welcome-adventure{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.welcomeadventureimage2 {
    width: 70%;
    z-index: 4;
    position: relative;
    bottom: 28%;
    left: 28%;
}

@media screen and (max-width: 900px){
    .welcome-adventure{
        display: flex;
        flex-direction: column;
        flex-flow: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        height: 100vh;
        justify-content: center;
    }
    .welcomeadventureimage2{
        display: none
    }
}