.welcometravellerimage1{
    width: 70%;
    z-index: 1;
    background-position: center;
    background-size: cover;
}

.welcometravellerimage2 {
    width: 70%;
    z-index: 4;
    position: relative;
    bottom: 32%;
    left: 30%;
}

@media screen and (max-width: 900px){
    .welcometravellerimage1{
        filter: drop-shadow(2px 5px 10px);
        border-radius: 10px;
    }
    .welcometravellerimage2{
        display: none;
    }
}